html, body {
	height: 100%;
	width: 100%;
}

.navbar {
	background-color: #10316b;
	padding: 3% 0;
	font-size: 1.4em;
}

.navbar-brand {
	 min-height: 20px;
	 padding: 0 7px 4px;
}

.navbar-default .navbar-nav li a {
	color: #000000;
	text-decoration: none;
}

.navbar-default .navbar-nav li a:hover , .navbar-default .navbar-nav li a.active {
	color: #e25822;
	text-decoration: none;
}

#home {
	background: transparent url(image7.png) no-repeat center center fixed;
	opacity: 0.75;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text{
	opacity: 1.0;
	display: table-cell;
	text-align: center;
	vertical-align:middle;
	color: #000000;
}

.landing-text h1{
	font-size: 500%
	font-weight:700;
}

.padding{
	padding: 80px 0;

}

.padding img{
	width: 100%;
}

#fixed{
	background:url(image0.png) no-repeat center center fixed;
	display: table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size: cover;
}

footer {
	width: 100%;
	background-color: #10316b;
	padding: 5% 5% 10% 5%;
	color: #000000;
}

.fa {
	padding: 15px;
	font-size: 25px;
	color: #000000;
}

.fa:hover {
	color: #e25822;
	text-decoration: none;
}

.icon{
	max-width: 200px;
}

.icon-small {
	max-height: 50px;
}

@media (max-width: 768px){
	.landing-text h1{
		font-size: 300%;
	}
	.fa{
		font-size: 20px;
		padding: 10px;
	}
	.icon{
		padding-top:5%;
		width: 100px;
	}
}

.checbox-left{
	width: fit-content;
	margin-left: 0;
}

.btn-align{
	padding: 10px;
	margin-bottom:5px;
}