/venv/*27
/Docs/praca/windows/*
/ComparativeSupervisedLearning/Config/LogFIles/
/ComparativeSupervisedLearning/Config/LogFIles/*
/ComparativeSupervisedLearning/Config/LogFIles/UMNWWCHS.log
C:\Users\User\PycharmProjects\Python\ComparativeSupervisedLearning\Config\LogFIles

