{% extends 'base.html'%}

{% block head %}


<script type="text/javascript" src="{{ url_for('static', filename='js/algorithmsController.js') }}"></script>

{% endblock %}

{% block content %}
<div class="padding">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            {% if model == 'KNN' or model == 'ALL' %}
            <a class="nav-link active" data-toggle="tab" href="#knnAlgorithm" role="tab" aria-controls="knnAlgorithm"
               aria-selected="true">KNN</a>
            {% else %}
            <a class="nav-link " data-toggle="tab" href="#knnAlgorithm" role="tab" aria-controls="knnAlgorithm"
               aria-selected="false">KNN</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if model == 'SVM' %}
            <a class="nav-link active" data-toggle="tab" href="#svmAlgorithm" role="tab"
               aria-controls="svmAlgorithm" aria-selected="true">SVM</a>

            {% else %}
            <a class="nav-link" data-toggle="tab" href="#svmAlgorithm" role="tab" aria-controls="svmAlgorithm"
               aria-selected="false">SVM</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if model == 'RF' %}
            <a class="nav-link active" data-toggle="tab" href="#rfAlgorithm" role="tab"
               aria-controls="rfAlgorithm" aria-selected="true">RF</a>
            {% else %}
            <a class="nav-link" data-toggle="tab" href="#rfAlgorithm" role="tab" aria-controls="rfAlgorithm"
               aria-selected="false">RF</a>

            {% endif %}
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade   {% if model == 'KNN' or model == 'ALL' %} show active {% endif %} "
             id="knnAlgorithm" role="tabpanel">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card card-left-nav">
                        <img class="card-img-top card-img-resize" src="/static/img/eng/KNN.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Algorytm K-najbliższych sąsiadów</h5>
                            <p class="card-text">
                                <span> Wynik dla danych utorzonych z modelu który puste wartości zastępuje</span>
                            <ul>
                                <li> średnią wartością dla danej kolumny</li>
                                <div id="knn_mean_desc"></div>
                                <li> medianą wartości dla danej kolumny</li>
                                <div id="knn_median_desc"></div>
                                <li> stałą wartością dla danej kolumny</li>
                                <div id="knn_freq_desc"></div>
                                <li> najczęstrzą wartością dla danej kolumny</li>
                                <div id="knn_cont_desc"></div>
                            </ul>

                            <span> Parametry najwydajniejszego modelu dla danych utorzonych z modelu który puste wartości zastępuje</span>
                            <ul>
                                <li> średnią wartością dla danej kolumny</li>
                                <div id="knn_mean_best_params"></div>
                                <li> medianą wartości dla danej kolumny</li>
                                <div id="knn_median_best_params"></div>
                                <li> stałą wartością dla danej kolumny</li>
                                <div id="knn_freq_best_params"></div>
                                <li> najczęstrzą wartością dla danej kolumny</li>
                                <div id="knn_cont_best_params"></div>
                            </ul>
                            <div id="confusion_2"></div>
                            </p>
                        </div>
                        <div class="card-body">
                            <a href=statistic class="card-link">Sprawdź dane statystyczne</a>
                            <a href=form class="card-link">Wypełnij formularz i sprawdź</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card card-right-nav">
                        <div class="card-body">
                            <h5 class="card-title">Porównanie najlepszych estymatorów</h5>
                            <h6 class="card-subtitle mb-2 text-muted"> per parametr</h6>
                            <div id="knn_mean_plot2"></div>
                            <div id="knn_median_plot2"></div>
                            <div id="knn_freq_plot2"></div>
                            <div id="knn_cont_plot2"></div>
                            </br>
                            <h6 class="card-subtitle mb-2 text-muted">Dowiedz się więcej o innych algorytmach</h6>
                            <a href=algorithmSVM class="card-link">SVM</a>
                            <a href=algorithmRF class="card-link">Random Forest</a>
                        </div>
                    </div>
                    <div class="card border-info mb-3 card-right-nav">
                        <div class="card-header bg-transparent border-info"><h5 class="card-title">Porównanie czasów wykonania </h5> </div>
                        <div class="card-body text-info">
                            <h5 class="card-title">Algorytm K najbliższych sąsiadów</h5>
                            <p class="card-text">
                             <span>Czas uczenia w sekundach :</span>
                            <div id="time_knn_1"></div>
                            </p>
                             <p class="card-text">
                             <span>Czas predykcji w sekundach :</span>
                            <div id="time_knn_4"></div>
                            </p>
                            <h5 class="card-title">Algorytm wektorów nośnych</h5>
                            <p class="card-text">
                             <span>Czas uczenia w sekundach:</span>
                            <div id="time_svm_1"></div>
                            </p>
                             <p class="card-text">
                             <span>Czas predykcji w sekundach:</span>
                            <div id="time_svm_4"></div>
                            </p>
                            <h5 class="card-title">Algorytm lasów losowych</h5>
                            <p class="card-text">
                            <span>Czas uczenia w sekundach:</span>
                            <div id="time_rf_1"></div>
                            </p>
                             <p class="card-text">
                            <span>Czas predykcji w sekundach:</span>
                            <div id="time_rf_4"></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade  {% if model == 'SVM' %}show active {% endif %}" id="svmAlgorithm" role="tabpanel">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card card-left-nav">
                        <img class="card-img-top card-img-resize" src="/static/img/eng/SVM.png" alt="Card image cap">
                       <div class="card-body">
                            <h5 class="card-title">Algorytm maszyny werktorów nośnch </h5>
                            <p class="card-text">
                                <span> Wynik dla danych utorzonych z modelu który puste wartości zastępuje</span>
                           <ul>
                                <li> średnią wartością dla danej kolumny</li>
                                <div id="svm_mean_desc"></div>
                                <li> medianą wartości dla danej kolumny</li>
                                <div id="svm_median_desc"></div>
                                <li> stałą wartością dla danej kolumny</li>
                                <div id="svm_freq_desc"></div>
                                <li> najczęstrzą wartością dla danej kolumny</li>
                                <div id="svm_cont_desc"></div>
                            </ul>

                            <span> Parametry najwydajniejszego modelu dla danych utorzonych z modelu który puste wartości zastępuje</span>
                            <ul>
                                <li> średnią wartością dla danej kolumny</li>
                                <div id="svm_mean_best_params"></div>
                                <li> medianą wartości dla danej kolumny</li>
                                <div id="svm_median_best_params"></div>
                                <li> stałą wartością dla danej kolumny</li>
                                <div id="svm_freq_best_params"></div>
                                <li> najczęstrzą wartością dla danej kolumny</li>
                                <div id="svm_cont_best_params"></div>
                            </ul>
                            <div id="confusion_3"></div>
                            </p>
                        </div>
                        <div class="card-body">
                            <a href=statistic class="card-link">Sprawdź dane statystyczne</a>
                            <a href=form class="card-link">Wypełnij formularz i sprawdź</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card card-right-nav">
                        <div class="card-body">
                            <h5 class="card-title">Porównanie najlepszych estymatorów</h5>
                            <h6 class="card-subtitle mb-2 text-muted">per parametr</h6>
                         <div id="svm_mean_plot2"></div>
                            <div id="svm_median_plot2"></div>
                            <div id="svm_freq_plot2"></div>
                            <div id="svm_cont_plot2"></div>
                             </br>
                            <h6 class="card-subtitle mb-2 text-muted">Dowiedz się więcej o innych algorytmach</h6>
                            <a href=algorithmKNN class="card-link">KNN</a>
                            <a href=algorithmRF class="card-link">Random Forest</a>
                        </div>
                    </div>
                    <div class="card border-info mb-3 card-right-nav">
                        <div class="card-header bg-transparent border-info">
                             <h5 class="card-title"><h5 class="card-title">Porównanie czasów wykonania </h5></div>
                        <div class="card-body text-info">
                            <h5 class="card-title">Algorytm K najbliższych sąsiadów</h5>
                            <p class="card-text">
                             <span>Czas uczenia w sekundach:</span>
                            <div id="time_knn_2"></div>
                            </p>
                             <p class="card-text">
                             <span>Czas predykcji w sekundach:</span>
                            <div id="time_knn_5"></div>
                            </p>
                            <h5 class="card-title">Algorytm wektorów nośnych</h5>
                            <p class="card-text">
                             <span>Czas uczenia w sekundach:</span>
                            <div id="time_svm_2"></div>
                            </p>
                             <p class="card-text">
                             <span>Czas predykcji w sekundach:</span>
                            <div id="time_svm_5"></div>
                            </p>
                            <h5 class="card-title">Algorytm lasów losowych</h5>
                            <p class="card-text">
                            <span>Czas uczenia w sekundach:</span>
                            <div id="time_rf_2"></div>
                            </p>
                            <p class="card-text">
                            <span>Czas predykcji w sekundach:</span>
                            <div id="time_rf_5"></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade {% if model == 'RF' %}show active {% endif %}" id="rfAlgorithm" role="tabpanel">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card card-left-nav">
                        <img class="card-img-top card-img-resize" src="/static/img/eng/RF.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Algorytm Lasów losowych</h5>
                            <p class="card-text">
                                <span> Wynik dla danych utorzonych z modelu który puste wartości zastępuje</span>
                            <ul>
                                <li> średnią wartością dla danej kolumny</li>
                                <div id="rf_mean_desc"></div>
                                <li> medianą wartości dla danej kolumny</li>
                                <div id="rf_median_desc"></div>
                                <li> stałą wartością dla danej kolumny</li>
                                <div id="rf_freq_desc"></div>
                                <li> najczęstrzą wartością dla danej kolumny</li>
                                <div id="rf_cont_desc"></div>
                            </ul>

                            <span> Parametry najwydajniejszego modelu dla danych utorzonych z modelu który puste wartości zastępuje</span>
                            <ul>
                                <li> średnią wartością dla danej kolumny</li>
                                <div id="rf_mean_best_params"></div>
                                <li> medianą wartości dla danej kolumny</li>
                                <div id="rf_median_best_params"></div>
                                <li> stałą wartością dla danej kolumny</li>
                                <div id="rf_freq_best_params"></div>
                                <li> najczęstrzą wartością dla danej kolumny</li>
                                <div id="rf_cont_best_params"></div>
                            </ul>
                            <div id="confusion_1"></div>
                            </p>
                        </div>
                        <div class="card-body">
                            <a href=statistic class="card-link">Sprawdź dane statystyczne</a>
                            <a href=form class="card-link">Wypełnij formularz i sprawdź</a>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card card-right-nav">
                        <div class="card-body">
                            <h5 class="card-title">Porównanie najlepszych estymatorów</h5>
                            <h6 class="card-subtitle mb-2 text-muted">per parametr</h6>
                           <div id="rf_mean_plot2"></div>
                            <div id="rf_median_plot2"></div>
                            <div id="rf_freq_plot2"></div>
                            <div id="rf_cont_plot2"></div>
                             </br>
                            <h6 class="card-subtitle mb-2 text-muted">Dowiedz się więcej o innych algorytmach</h6>
                            <a href=algorithmSVM class="card-link">SVM</a>
                            <a href=algorithmKNN class="card-link">KNN</a>
                        </div>
                    </div>
                    <div class="card border-info mb-3 card-right-nav">
                        <div class="card-header bg-transparent border-info">Porównanie czasów wykonania </div>
                        <div class="card-body text-info">
                            <h5 class="card-title">Algorytm K najbliższych sąsiadów</h5>
                            <p class="card-text">
                             <span>Czas uczenia w sekundach:</span>
                            <div id="time_knn_3"></div>
                            </p>
                            <p class="card-text">
                             <span>Czas predykcji w sekundach:</span>
                            <div id="time_knn_6"></div>
                            </p>
                            <h5 class="card-title">Algorytm wektorów nośnych</h5>
                            <p class="card-text">
                             <span>Czas uczenia w sekundach:</span>
                            <div id="time_svm_3"></div>
                            </p>
                             <p class="card-text">
                             <span>Czas predykcji w sekundach:</span>
                            <div id="time_svm_6"></div>
                            </p>
                            <h5 class="card-title">Algorytm lasów losowych</h5>
                            <p class="card-text">
                            <span>Czas uczenia w sekundach:</span>
                            <div id="time_rf_3"></div>
                            </p>
                            <p class="card-text">
                            <span>Czas predykcji w sekundach:</span>
                            <div id="time_rf_6"></div>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Porównanie całościowe</h5>
                    <p class="card-text"><h5>KNN</h5></p>
                    <div id="knn_mean_plot1" class="plot_size_al"></div>
                    <div id="knn_median_plot1" class="plot_size_al"></div>
                    <div id="knn_freq_plot1"  class="plot_size_al"></div>
                    <div id="knn_cont_plot1"  class="plot_size_al"></div>

                     <p class="card-text"><h5>SVM</h5></p>
                    <div id="svm_mean_plot1" class="plot_size_al"></div>
                    <div id="svm_median_plot1" class="plot_size_al"></div>
                    <div id="svm_freq_plot1"  class="plot_size_al"></div>
                    <div id="svm_cont_plot1"  class="plot_size_al"></div>

                     <p class="card-text"><h5>Random forest</h5></p>
                    <div id="rf_mean_plot1" class="plot_size_al"></div>
                    <div id="rf_median_plot1" class="plot_size_al"></div>
                    <div id="rf_freq_plot1"  class="plot_size_al"></div>
                    <div id="rf_cont_plot1"  class="plot_size_al"></div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}