{% extends 'base.html'%}

{% block head %}


<script type="text/javascript" src="{{ url_for('static', filename='js/formController.js') }}"></script>

{% endblock %}

{% block content %}
<div class="padding" id="fill-in-form">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="lang" key="fill-in-form">Wypełnij formularz</h2>
                <form name="form" id="form" method="post" class="needs-validation" novalidate>
                    <div class="form-group row">
                        <label for="inputAge" class="col-sm-3 col-form-label lang " key="age">Wiek</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control " id="inputAge" placeholder="1" min="1" max="200"
                                   number="true">
                            <div class="invalid-feedback lang" key="field-validation">Wprowadź poprawną wartość.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputSex" class="col-sm-3 col-form-label lang" key="sex">Płeć</label>
                        <div class="col-sm-9">
                            <select class="custom-select" id="inputSex">
                                <option selected value="-1" class="lang" key="no-select">Brak</option>
                                <option value="1" class="lang" key="woman">Kobieta</option>
                                <option value="0" class="lang" key="man">Mężczyzna</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputChestPain" class="col-sm-3 col-form-label lang" key="input-chest-pain">Typ bólu
                            w klatce
                            piersiowej</label>
                        <div class="col-sm-9">
                            <select class="custom-select" id="inputChestPain">
                                <option selected value="-1" class="lang" key="no-select">Brak</option>
                                <option value="1" class="lang" key="chest-pain-1">Typowa dławica piersi</option>
                                <option value="2" class="lang" key="chest-pain-2">Atypowa dławica piersi</option>
                                <option value="3" class="lang" key="chest-pain-3">Ból bezdławicowy</option>
                                <option value="4" class="lang" key="chest-pain-4">Bezobjawowy</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputBloodPressure" class="col-sm-3 col-form-label lang" key="blood-pressure">Spoczynkowe
                            Ciśnienie
                            Krwi</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputBloodPressure" min="0" max="1000000000"
                                   digits="true"
                                   placeholder="0">
                            <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                            </div>
                        </div>
                        <label class="col-sm-2 col-form-label">mm Hg</label>
                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip"
                                data-placement="right" title="Nadciśnienie tętnicze to wartości ≥140/90 mmHg">
                            ?
                        </button>
                    </div>
                    <div class="form-group row">
                        <label for="inputBloodChol" class="col-sm-3 col-form-label lang" key="blood-chol">Cholesterol w
                            surowicy</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputBloodChol" placeholder="0" min="0"
                                   max="1000000000" digits="true">
                            <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid value.
                        </div>
                        <label class="col-sm-2 col-form-label">mg/dl</label>
                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip"
                                data-placement="right"
                                title="Należy wykonać badanie lipidogramu, norma to poziom cholesterolu całkowitego mniej niż 190mg/dl (5 mmol/l) ">
                            ?
                        </button>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-3 pt-0 lang" key="sugar">Cukier we krwi na czczo
                            </legend>
                            <div class="col-sm-9">
                                <div class="form-check checbox-left">
                                    <input class="form-check-input" type="radio" name="gridRadiosSugar"
                                           value="1">
                                    <label class="form-check-label lang" key="sugar-1">
                                        Powyżej 120 mg/dl
                                    </label>
                                </div>
                                <div class="form-check checbox-left">
                                    <input class="form-check-input" type="radio" name="gridRadiosSugar"
                                           value="0">
                                    <label class="form-check-label lang" key="sugar-2">
                                        Poniżej bądź równe 120 mg/dl
                                    </label>
                                </div>
                                <div class="form-check checbox-left">
                                    <input class="form-check-input" type="radio" name="gridRadiosSugar"
                                           value="-1">
                                    <label class="form-check-label lang" key="no-value">
                                        Brak pomiaru
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-3 pt-0 lang" key="rest-ecg">Spoczynkowe wyniki
                                elektrokardiograficzne
                            </legend>
                            <div class="col-sm-9">
                                <div class="form-check checbox-left">
                                    <input class="form-check-input" type="radio"
                                           name="gridRadiosRestEcg"
                                           id="gridRadiosRestEcg1" value="0">
                                    <label class="form-check-label lang" for="gridRadiosRestEcg1" key="rest-ecg-1">
                                        Normalne
                                    </label>
                                </div>
                                <div class="form-check checbox-left">
                                    <input class="form-check-input" type="radio"
                                           name="gridRadiosRestEcg"
                                           id="gridRadiosRestEcg2" value="1">
                                    <label class="form-check-label lang" for="gridRadiosRestEcg2" key="rest-ecg-2">
                                        Z nieprawidłowościami fali ST-T (odwrócenie fali T i / lub
                                        podniesienie lub
                                        obniżenie ST> 0,05 mV)
                                    </label>
                                </div>
                                <div class="form-check checbox-left">
                                    <input class="form-check-input" type="radio"
                                           name="gridRadiosRestEcg"
                                           id="gridRadiosRestEcg3" value="2">
                                    <label class="form-check-label lang" for="gridRadiosRestEcg3" key="rest-ecg-3">
                                        Wykazujący prawdopodobny lub wyraźny przerost lewej komory serca
                                        według
                                        kryteriów Estesa
                                    </label>
                                </div>
                                <div class="form-check checbox-left">
                                    <input class="form-check-input" type="radio"
                                           name="gridRadiosRestEcg"
                                           id="gridRadiosRestEcg4" value="-1">
                                    <label class="form-check-label lang" for="gridRadiosRestEcg4" key="no-value">
                                        Brak pomiaru
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <label for="inputThall" class="col-sm-5 col-form-label lang" key="thall">Status serca pobrany z
                            testu
                            Thallium </label>
                        <div class="col-sm-4">
                            <select class="custom-select" id="inputThall" name="inputThall">
                                <option selected value="-1" class="lang" key="no-value">Brak pomiaru</option>
                                <option value="N" class="lang" key="rest-ecg-1">Normalny</option>
                                <option value="FD" class="lang" key="thall-3">Wada stała</option>
                                <option value="RD" class="lang" key="thall-4">Wada odwracalna</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputHeartRate" class="col-sm-3 col-form-label lang" key="heart-rate">Maksymalnie
                            osięgnięte tętno</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputHeartRate" min="0" max="1000000000"
                                   digits="true"
                                   name="inputHeartRate"
                                   placeholder="0">
                            <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 lang" key="induced-angina">Dławica piersiowa wywołana wysiłkiem fizycznym
                        </div>
                        <div class="col-sm-8">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="gridCheckInducedAngina"
                                       id="gridCheckInducedAngina2" value="1">
                                <label class="form-check-label lang" for="gridCheckInducedAngina2" key="yes">
                                    Tak
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="gridCheckInducedAngina"
                                       id="gridCheckInducedAngina3" value="0">
                                <label class="form-check-label lang" for="gridCheckInducedAngina3" key="no">
                                    Nie
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="gridCheckInducedAngina"
                                       id="gridCheckInducedAngina1" value="-1">
                                <label class="form-check-label lang" for="gridCheckInducedAngina1" key="no-value">
                                    Brak pomiaru
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-light mb-3">
                        <div class="card-header lang" key="st">Odcinek ST</div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-sm-4"
                                     title="Określenie fragmentu zapisu elektrokardiograficznego" key="st-1">
                                    Depresja wywołana ćwiczeniami w stosunku do odpoczynku
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                               name="gridCheckOldpeek"
                                               id="gridCheckOldpeek1" value="1">
                                        <label class="form-check-label" for="gridCheckOldpeek1" key="yes">
                                            Tak
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                               name="gridCheckOldpeek"
                                               id="gridCheckOldpeek2" value="0">
                                        <label class="form-check-label lang" for="gridCheckOldpeek2" key="no">
                                            Nie
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                               name="gridCheckOldpeek"
                                               id="gridCheckOldpeek3" value="-1">
                                        <label class="form-check-label lang" for="gridCheckOldpeek3" key="no-value">
                                            Brak pomiaru
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 lang"
                                     title="Określenie fragmentu zapisu elektrokardiograficznego" key="st-2">
                                    Nachylenie szczytu odcinka ST
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gridSlope"
                                               id="gridSlope1" value="1">
                                        <label class="form-check-label lang" for="gridSlope1" key="grow">
                                            Wznoszący
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gridSlope"
                                               id="gridSlope2" value="2">
                                        <label class="form-check-label lang" for="gridSlope2" key="flat">
                                            Płaski
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gridSlope"
                                               id="gridSlope3" value="3">
                                        <label class="form-check-label lang" for="gridSlope3" key="falling">
                                            Opadający
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gridSlope4"
                                               id="gridSlope4" value="-1">
                                        <label class="form-check-label lang" for="gridSlope4" key="no-value">
                                            Brak pomiaru
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFluo" class="col-sm-5 col-form-label lang" key="fluo">Liczba głównych naczyń
                            zabarwionych
                            metodą Fluoroskopii</label>
                        <div class="col-sm-4">
                            <select class="custom-select" id="inputFluo" name="inputFluo">
                                <option selected value="-1" class="lang" key="no-value">Brak pomiaru</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <a href=# id=process_form style="decoration:none;">
                                <button id="submitButton" name="submitButton"
                                        class="btn btn-outline-primary btn-lg btn-block lang" key="predict">Dokonaj
                                    predykcji
                                </button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="padding" id="positive-result" style="display:none;">
    <div class="jumbotron alert-success">
        <h1 class="display-3 lang" key="positive">Wynik pozytywny</h1>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%"
                 aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"></div>
        </div>

        <p class="lead lang" key="result-equals">Predykcja dla prowadzonych danych zależnie od modelu :</p>
        </br>
        <div class="card-deck">
            <div class="card">
                <div class="card-img-top" id="accuracy-positive-plot-knn" width="400" height="400"></div>
                <div class="card-body">
                    <h5 class="card-title">K -Najbliższych sąsiadów</h5>
                    <p class="card-text">Wynik najlepszego modelu to :<i class="fa fa-check" aria-hidden="true"></i>
                    <div id="result-positive-value-knn"></div>
                    </p>
                    <span> Czyłość modelu </span>
                    <br/>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info progress-bar-animated"
                             role="progressbar" style="width: 25%"
                             aria-valuenow="411" aria-valuemin="0" aria-valuemax="100" id="progress_bar_knn_positive">
                            <div id="progress_bar_knn_positive_1"></div>
                        </div>
                    </div>
                    <br/>
                    <p class="card-text"><small class="text-muted">
                        <a href=algorithmKNN class="btn btn-info btn-lg non-blurred"> Dowiedz się więcej</a>
                    </small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-img-top" id="accuracy-positive-plot-svm" width="400" height="400"></div>
                <div class="card-body">
                    <h5 class="card-title">Maszyna wektorów nośnych</h5>
                    <p class="card-text">Wynik najlepszego modelu to :<i class="fa fa-check" aria-hidden="true"></i>
                    <div id="result-positive-value-svm"></div>
                    </p>
                    <span> Czyłość modelu </span>
                    <br/>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info progress-bar-animated"
                             role="progressbar" style="width: 25%"
                             aria-valuenow="411" aria-valuemin="0" aria-valuemax="100" id="progress_bar_svm_positive">
                            <div id="progress_bar_svn_positive_1"></div>
                        </div>
                    </div>
                    </br>
                    <p class="card-text"><small class="text-muted">
                        <a href=algorithmSVM class="btn btn-info btn-lg non-blurred"> Dowiedz się więcej</a>
                    </small></p>
                </div>
            </div>
            <div class="card">
                <div id="accuracy-positive-plot-rf" width="400" height="400" class="card-img-top"></div>
                <div class="card-body">
                    <h5 class="card-title">Las losowy</h5>
                    <p class="card-text">Wynik najlepszego modelu to :<i class="fa fa-check" aria-hidden="true"></i>
                    <div id="result-positive-value-rf"></div>
                    </p>
                    <span> Czyłość modelu </span>
                    <br/>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info progress-bar-animated"
                             role="progressbar" style="width: 25%"
                             aria-valuenow="411" aria-valuemin="0" aria-valuemax="100" id="progress_bar_rf_positive">
                            <div id="progress_bar_rf_positive_1"></div>
                        </div>
                    </div>
                    </br>
                    <p class="card-text"><small class="text-muted">
                        <a href=algorithmRF class="btn btn-info btn-lg non-blurred"> Dowiedz się więcej</a>
                    </small></p>
                </div>
            </div>
        </div>
        </br>
        <div class="card text-center">
            <div class="card-header">
                Dodatkowe informacje
            </div>
            <div class="card-body">
                <h5 class="card-title">Umiejscowienie danych wśród danych testowych</h5>
            <div class="card-img-top" id="user_data_plot" width="400" height="400"></div>
                <a href=statistic class="btn btn-primary">Sprawdź statystyki danych testowych</a>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>


        <hr class="my-4">
        <p class="lead">
            <a class="btn-warning  btn lang" href="#" role="button" onclick="window.location.reload();"
               key="back">Powrót</a>
        </p>
    </div>
</div>

<div class="padding" id="negative-result" style="display:none;">
    <div class="jumbotron alert-danger">
        <h1 class="display-3 lang" key="negative-result">Wynik negatywny</h1>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%"
                 aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"></div>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-img-top" id="accuracy-negative-plot-knn" width="400" height="400"></div>
                <div class="card-body">
                    <h5 class="card-title">K -Najbliższych sąsiadów</h5>
                    <p class="card-text">Wynik najlepszego modelu to : </p>
                    <div id="result-negative-value-knn"></div>
                    <span> Czyłość modelu </span>
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                         style="width: 25%"
                         aria-valuemin="0" aria-valuemax="100" id="progress_bar_knn_negative"></div>
                    <p class="card-text"><small class="text-muted">
                        <a href=algorithmKNN class="btn btn-info btn-lg non-blurred"> Dowiedz się więcej</a>
                    </small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-img-top" id="accuracy-negative-plot-svm" width="400" height="400"></div>
                <div class="card-body">
                    <h5 class="card-title">Maszyna wektorów nośnych</h5>
                    <p class="card-text">Wynik najlepszego modelu to : </p>
                    <div id="result-negative-value-svm"></div>
                    <span> Czyłość modelu </span>
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                         style="width: 25%"
                         aria-valuemin="0" aria-valuemax="100" id="progress_bar_svm_negative"></div>
                    <p class="card-text"><small class="text-muted">
                        <a href=algorithmSVM class="btn btn-info btn-lg non-blurred"> Dowiedz się więcej</a>
                    </small></p>
                </div>
            </div>
            <div class="card">
                <div id="accuracy-negative-plot-rf" width="400" height="400" class="card-img-top"></div>
                <div class="card-body">
                    <h5 class="card-title">Las losowy</h5>
                    <p class="card-text">Wynik najlepszego modelu to : </p>
                    <div id="result-negative-value-rf"></div>
                    <span> Czyłość modelu </span>
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                         style="width: 25%"
                         aria-valuemin="0" aria-valuemax="100" id="progress_bar_rf_negative"></div>
                    <p class="card-text"><small class="text-muted">
                        <a href=algorithmRF class="btn btn-info btn-lg non-blurred"> Dowiedz się
                            więcej</a>
                    </small></p>
                </div>
            </div>
            </br>
            <div class="card text-center">
                <div class="card-header">
                    Dodatkowe informacje
                </div>
                <div class="card-body">
                    <h5 class="card-title">Umiejscowienie danych wśród danych testowych</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional
                        content.</p>
                    <a href=statistic class="btn btn-primary">Sprawdź statystyki danych testowych</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}