<!DOCTYPE html>
<html>
<head>
	<title>Wykrywanie występowanie chorób serca, wykorzystanie uczenia maszynowego nadzorowanego</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="utf-8">
	<meta name="viewport" content="with=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="../static/main.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top navbar-dark navbar-left" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img src="../static/image1.png" class="icon-small">
				</a>
				<!-- <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main">
			 		<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-main">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" class="active">Start</a></li>
					<li><a href="#">O Stronie</a></li>
					<li><a href="#">Formularz</a></li>
					<li><a href="#">Rezultat</a></li>
					<li><a href="#">Szszegóły</a></li>
				</ul>
			</div> -->
		</div>
	</nav>

	<div id="home">
		<div class="landing-text">
			<h1>Wykrywanie występowanie chorób serca,</h1>
			<h3>wykorzystanie uczenia maszynowego nadzorowanego</h3>
			<a href="#" class="btn btn-default btn-lg">Rozpocznij</a>
		</div>
	</div>
	<div class="padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<img src="../static/img2.png">
				</div>
				<div class="col-sm-8 text-center">
					<h2>Wypełnij formularz</h2>
					<form>
						<div class="form-group row">
							<label for="inputAge" class="col-sm-3 col-form-label">Wiek</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="inputAge" placeholder="Wiek">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputSex" class="col-sm-3 col-form-label">Pleć</label>
							<div class="col-sm-9">
								<select class="custom-select">
									<option selected value="-1">Brak</option>
									<option value="1">Kobieta</option>
									<option value="0">Mężczyzna</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="inputChestPain" class="col-sm-3 col-form-label">Typ bólu w klatce piersiowej</label>
							<div class="col-sm-9">
								<select class="custom-select">
									<option selected value="-1">Brak</option>
									<option value="1">Typowa dławica piersi</option>
									<option value="2">Atypowa dławica piersi</option>
									<option value="3">Ból bezdławicowy</option>
									<option value="4">Bezobjawowy</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="inputBloodPressure" class="col-sm-3 col-form-label">Spoczynkowe Ciśnienie Krwi</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="inputBloodPressure" placeholder="0">
							</div>
							<label class="col-sm-2 col-form-label">mm Hg</label>
						</div>
						<div class="form-group row">
							<label for="inputChol" class="col-sm-3 col-form-label">Cholesterol w surowicy</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="inputBloodChol" placeholder="0">
							</div>
							<label class="col-sm-2 col-form-label">mg/dli</label>
						</div>
						<fieldset class="form-group">
							<div class="row">
								<legend class="col-form-label col-sm-3 pt-0">Cukier we krwi na czczo</legend>
								<div class="col-sm-9">
									<div class="form-check checbox-left">
										<input class="form-check-input" type="radio" name="gridRadiosSugar" id="gridRadiosSugar1" value="1" checked>
										<label class="form-check-label" for="gridRadiosSugar1">
											Powyżej 120 mg/dl
										</label>
									</div>
									<div class="form-check checbox-left">
										<input class="form-check-input" type="radio" name="gridRadiosSugar" id="gridRadiosSugar2" value="0">
										<label class="form-check-label" for="gridRadiosSugar2">
											Poniżej bądź równe 120 mg/dl
										</label>
									</div>
									<div class="form-check checbox-left">
										<input class="form-check-input" type="radio" name="gridRadiosSugar" id="gridRadios3" value="-1">
										<label class="form-check-label" for="gridRadiosSugar3">
											Brak pomiaru
										</label>
									</div>
								</div>
							</div>
						</fieldset>
						<fieldset class="form-group">
							<div class="row">
								<legend class="col-form-label col-sm-3 pt-0">Spoczynkowe wyniki elektrokardiograficzne</legend>
								<div class="col-sm-9">
									<div class="form-check checbox-left">
										<input class="form-check-input" type="radio" name="gridRadiosRestEcg" id="gridRadiosRestEcg1" value="0" checked>
										<label class="form-check-label" for="gridRadiosRestEcg1">
											Normalne
										</label>
									</div>
									<div class="form-check checbox-left">
										<input class="form-check-input" type="radio" name="gridRadiosRestEcg" id="gridRadiosRestEcg2" value="1">
										<label class="form-check-label" for="gridRadiosRestEcg2">
											Z nieprawidłowościami fali ST-T (odwrócenie fali T i / lub podniesienie lub obniżenie ST> 0,05 mV)
										</label>
									</div>
									<div class="form-check checbox-left">
										<input class="form-check-input" type="radio" name="gridRadiosRestEcg" id="gridRadiosRestEcg3" value="2">
										<label class="form-check-label" for="gridRadiosRestEcg3">
											Wykazujący prawdopodobny lub wyraźny przerost lewej komory serca według kryteriów Estesa
										</label>
									</div>
									<div class="form-check checbox-left">
										<input class="form-check-input" type="radio" name="gridRadiosRestEcg" id="gridRadiosRestEcg4" value="-1">
										<label class="form-check-label" for="gridRadiosRestEcg4">
											Brak pomiaru
										</label>
									</div>
								</div>
							</div>
						</fieldset>
						<div class="form-group row">
							<label for="inputHeartRate" class="col-sm-3 col-form-label">Maksymalnie osięgnięte tętno</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="inputHeartRate" placeholder="0">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-4">Dławica piersiowa wywołana wysiłkiem fizycznym</div>
							<div class="col-sm-8"> 
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="gridCheckInducedAngina2" id="gridCheckInducedAngina2" value="1">
									<label class="form-check-label" for="gridCheckInducedAngina2">
										Tak
									</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="gridCheckInducedAngina3" id="gridCheckInducedAngina3" value="0">
									<label class="form-check-label" for="gridCheckInducedAngina3">
										Nie
									</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="gridCheckInducedAngina1" id="gridCheckInducedAngina1" value="-1">
									<label class="form-check-label" for="gridCheckInducedAngina1">
										Brak pomiaru
									</label>
								</div>
							</div>
						</div>
						<div class="card bg-light mb-3">
							<div class="card-header">Odcinek ST </div>
							<div class="card-body"> 
								<div class="form-group row">
									<div class="col-sm-4" title="Określenie fragmentu zapisu elektrokardiograficznego">Depresja wywołana ćwiczeniami w stosunku do odpoczynku</div>
									<div class="col-sm-8"> 
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="gridCheckOldpeek1" id="gridCheckOldpeek1" value="1">
											<label class="form-check-label" for="gridCheckOldpeek1">
												Tak
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="gridCheckOldpeek2" id="gridCheckOldpeek2" value="0">
											<label class="form-check-label" for="gridCheckOldpeek2">
												Nie
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="gridCheckOldpeek3" id="gridCheckOldpeek3" value="-1">
											<label class="form-check-label" for="gridCheckOldpeek3">
												Brak pomiaru
											</label>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-4" title="Określenie fragmentu zapisu elektrokardiograficznego">Nachylenie szczytu odcinka ST</div>
									<div class="col-sm-8"> 
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="gridCheckOldpeek1" id="gridCheckOldpeek1" value="1">
											<label class="form-check-label" for="gridCheckOldpeek1">
												Wznoszący
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="gridCheckOldpeek2" id="gridCheckOldpeek2" value="2">
											<label class="form-check-label" for="gridCheckOldpeek2">
												Płaski
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="gridCheckOldpeek3" id="gridCheckOldpeek3" value="3">
											<label class="form-check-label" for="gridCheckOldpeek3">
												Opadający
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="gridCheckOldpeek4" id="gridCheckOldpeek4" value="-1">
											<label class="form-check-label" for="gridCheckOldpeek4">
												Brak pomiaru
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputChestPain" class="col-sm-5 col-form-label">Liczba głównych naczyń zabarwionych metodą Fluoroskopii</label>
							<div class="col-sm-4">
								<select class="custom-select">
									<option selected value="-1">Brak pomiaru</option>
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputChestPain" class="col-sm-5 col-form-label">Status serca pobrany z testu Thallium </label>
							<div class="col-sm-4">
								<select class="custom-select">
									<option selected value="-1">Brak pomiaru</option>
									<option value="N">Normalny</option>
									<option value="FD">Wada stała</option>
									<option value="RD">Wada odwracalna</option>	  
								</select>
							</div>
						</div>


						<button  data-toggle="collapse" data-target="#extended-formula" type="button" class="btn btn-primary btn-align">Rozszerzony formularz</button>

						<div id="extended-formula" class="collapse">
							<div class="card bg-light mb-3">
								<div class="card-header">Ból w klatce piersiowej</div>
								<div class="card-body"> 
									<div class="form-group row">
										<div class="col-sm-4" >Lokalizacja bólu w klatce piersiowej</div>
										<div class="col-sm-8"> 
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridpainloc1" id="gridpainloc1" value="1">
												<label class="form-check-label" for="gridpainloc1">
													Zastępczy
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridpainloc2" id="gridpainloc2" value="0">
												<label class="form-check-label" for="gridpainloc2">
													Inny
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridpainloc3" id="gridpainloc3" value="-1">
												<label class="form-check-label" for="gridpainloc3">
													Brak pomiaru
												</label>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-4" >Ból spowodowany wysiłkiem</div>
										<div class="col-sm-8"> 
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridpainloc1" id="gridpainloc1" value="1">
												<label class="form-check-label" for="gridpainloc1">
													Tak
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridpainloc2" id="gridpainloc2" value="0">
												<label class="form-check-label" for="gridpainloc2">
													Nie
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridpainloc3" id="gridpainloc3" value="-1">
												<label class="form-check-label" for="gridpainloc3">
													Brak danych
												</label>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-4" >Ból ustaje po odpoczynku</div>
										<div class="col-sm-8"> 
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridpainloc1" id="gridpainloc1" value="1">
												<label class="form-check-label" for="gridpainloc1">
													Tak
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridpainloc2" id="gridpainloc2" value="0">
												<label class="form-check-label" for="gridpainloc2">
													Nie
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridpainloc3" id="gridpainloc3" value="-1">
												<label class="form-check-label" for="gridpainloc3">
													Brak danych
												</label>
											</div>
										</div>
									</div>

								</div>
							</div>
							<div class="card bg-light mb-3">
								<div class="card-header">Nałóg Nikotynowy</div>
								<div class="card-body"> 
									<div class="form-group row">
										<label for="inputChestPain" class="col-sm-5 col-form-label">Palacz </label>
										<div class="col-sm-4">
											<select class="custom-select">
												<option selected value="-1">Brak danych</option>
												<option value="1">Tak</option>
												<option value="0">Nie</option>  
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label for="inputCigs" class="col-sm-5 col-form-label">Papierosów dziennie</label>
										<div class="col-sm-3">
											<input type="text" class="form-control" id="inputCigs" placeholder="0">
										</div>
									</div>
									<div class="form-group row">
										<label for="inputCigsYears" class="col-sm-5 col-form-label">Liczba lat jako palacz</label>
										<div class="col-sm-3">
											<input type="text" class="form-control" id="inputCigsYears" placeholder="0">
										</div>
									</div>
								</div>

							</div>

							<div class="form-group row">
								<div class="col-sm-4" >Historia cukrzycy</div>
								<div class="col-sm-8"> 
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gridpainloc1" id="gridpainloc1" value="1">
										<label class="form-check-label" for="gridpainloc1">
											Tak
										</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gridpainloc2" id="gridpainloc2" value="0">
										<label class="form-check-label" for="gridpainloc2">
											Brak historii
										</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gridpainloc3" id="gridpainloc3" value="-1">
										<label class="form-check-label" for="gridpainloc3">
											Brak danych
										</label>
									</div>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-4" >Wywiad rodzinny w kierunku choroby wieńcowej </div>
								<div class="col-sm-8"> 
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gridpainloc1" id="gridpainloc1" value="1">
										<label class="form-check-label" for="gridpainloc1">
											Tak
										</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gridpainloc2" id="gridpainloc2" value="0">
										<label class="form-check-label" for="gridpainloc2">
											Brak historii
										</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gridpainloc3" id="gridpainloc3" value="-1">
										<label class="form-check-label" for="gridpainloc3">
											Brak danych
										</label>
									</div>
								</div>
							</div>
							<div class="card bg-light mb-4">
								<div class="card-header">Badanie EKG</div>
								<div class="card-body"> 

									<div class="form-group row">
										<div class="col-sm-5" >Naparstnica stosowana podczas wysiłku EKG</div>
										<div class="col-sm-7"> 
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="griddig1" id="griddig1" value="1">
												<label class="form-check-label" for="griddig1">
													Tak
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="griddig0" id="griddig0" value="0">
												<label class="form-check-label" for="griddig0">
													Nie
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="griddig2" id="griddig2" value="-1">
												<label class="form-check-label" for="griddig2">
													Brak danych
												</label>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-5" >Beta-bloker stosowany podczas EKG wysiłkowego</div>
										<div class="col-sm-7"> 
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridprop1" id="gridprop1" value="1">
												<label class="form-check-label" for="gridprop1">
													Tak
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="griddig0" id="gridprop0" value="0">
												<label class="form-check-label" for="gridprop0">
													Nie
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridprop2" id="gridprop2" value="-1">
												<label class="form-check-label" for="gridprop2">
													Brak danych
												</label>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-5" >Azotany wykorzystywane podczas wysiłku EKG</div>
										<div class="col-sm-7"> 
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridnitr1" id="gridnitr1" value="1">
												<label class="form-check-label" for="gridnitr1">
													Tak
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="griddig0" id="gridnitr0" value="0">
												<label class="form-check-label" for="gridnitr0">
													Nie
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridnitr2" id="gridnitr2" value="-1">
												<label class="form-check-label" for="gridnitr2">
													Brak danych
												</label>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-5" >Bloker kanału wapniowego stosowany podczas wysiłku EKG</div>
										<div class="col-sm-7"> 
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridpro1" id="gridpro1" value="1">
												<label class="form-check-label" for="gridpro1">
													Tak
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridpro0" id="gridpro0" value="0">
												<label class="form-check-label" for="gridpro0">
													Nie
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="gridpro2" id="gridpro2" value="-1">
												<label class="form-check-label" for="gridpro2">
													Brak danych
												</label>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-5" >Lek moczopędny stosowany podczas EKG </div>
										<div class="col-sm-7"> 
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="griddiuretic1" id="griddiuretic1" value="1">
												<label class="form-check-label" for="griddiuretic1">
													Tak
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="griddiuretic0" id="griddiuretic0" value="0">
												<label class="form-check-label" for="griddiuretic0">
													Nie
												</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="griddiuretic2" id="griddiuretic2" value="-1">
												<label class="form-check-label" for="griddiuretic2">
													Brak danych
												</label>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label for="inputChestPain" class="col-sm-5 col-form-label">Protokół ćwiczeń</label>
										<div class="col-sm-4">
											<select class="custom-select">
												<option selected value="-1">Brak pomiaru</option>
												<option value="1">Bruce</option>
												<option value="2">Kottus</option>
												<option value="3">McHenry</option>
												<option value="4">szybki Balke</option>
												<option value="5">Balke</option>
												<option value="6">Noughton</option>
												<option value="7">rower 150 kpa min / min </option>
												<option value="8">rower 125 kpa min / min</option>
												<option value="9">rower 100 kpa min/min</option>
												<option value="10">rower 75 kpa min/min</option>
												<option value="11">rower 50 kpa min / min</option>
												<option value="12">ramię ergometru???ergometr na ramiona???</option>

											</select>
										</div>
									</div>
									<div class="form-group row">
										<label for="inputthaldur" class="col-sm-5 col-form-label">Czas trwania testu wysiłkowego </label>
										<div class="col-sm-3">
											<input type="text" class="form-control" id="inputthaldur" placeholder="0">
										</div>
										<label for="inputthaldur" class="col-sm-2 col-form-label">min</label>
									</div>
									<div class="form-group row">
										<label for="inputthaltime" class="col-sm-5 col-form-label">Czas w którym odnotowano depresję pomiaru ST </label>
										<div class="col-sm-3">
											<input type="text" class="form-control" id="inputthaltime" placeholder="0">
										</div>

									</div>
									<div class="form-group row">
										<label for="inputmets" class="col-sm-5 col-form-label">Osiągnięty dystans </label>
										<div class="col-sm-3">
											<input type="text" class="form-control" id="inputmets" placeholder="0">
										</div>
										<label for="inputmets" class="col-sm-2 col-form-label">m</label>
									</div>

									<div class="form-group row">
										<label for="inputthalrest" class="col-sm-5 col-form-label">Tętno spoczynkowe</label>
										<div class="col-sm-3">
											<input type="text" class="form-control" id="inputthalrest" placeholder="0">
										</div>

									</div>
									<div class="form-group row">
										<label for="inputtpeakbps" class="col-sm-7 col-form-label">Szczytowe ciśnienie tętnicze (pierwsza z 2 części)</label>
										<div class="col-sm-2">
											<input type="text" class="form-control" id="inputtpeakbps" placeholder="0">
										</div>

									</div>
									<div class="form-group row">
										<label for="inputtpeakbpd" class="col-sm-7 col-form-label">Szczytowe ciśnienie ćwiczeń (druga z 2 części)</label>
										<div class="col-sm-2">
											<input type="text" class="form-control" id="inputtpeakbpd" placeholder="0">
										</div>

									</div>
									<div class="form-group row">
										<label for="inputtrestbpd" class="col-sm-7 col-form-label">Spoczynkowe ciśnienie krwi</label>
										<div class="col-sm-2">
											<input type="text" class="form-control" id="inputtrestbpd" placeholder="0">
										</div>

									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-4" >Xhypo</div>
									<div class="col-sm-8"> 
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="gridxhypo1" id="gridxhypo1" value="1">
											<label class="form-check-label" for="gridxhypo1">
												Tak
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="gridxhypo2" id="gridxhypo2" value="0">
											<label class="form-check-label" for="gridxhypo2">
												Nie
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="gridxhypo3" id="gridxhypo3" value="-1">
											<label class="form-check-label" for="gridxhypo3">
												Brak danych
											</label>
										</div>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputrldv5" class="col-sm-7 col-form-label">Wysokość w spoczynku</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" id="inputrldv5" placeholder="0">
									</div>

								</div>
								<div class="form-group row">
									<label for="inputrldv5e" class="col-sm-7 col-form-label">Wysokość w szczycie ćwiczeń </label>
									<div class="col-sm-2">
										<input type="text" class="form-control" id="inputrldv5e" placeholder="0">
									</div>

								</div>
								<div class="form-group row">
									<label for="inputrestef" class="col-sm-7 col-form-label">Reszta frakcji wyrzutowej raidonuclid (sp?)</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" id="inputrestef" placeholder="0">
									</div>

								</div>

								<div class="form-group row">
									<label for="inputrestwm" class="col-sm-7 col-form-label">Nieprawidłowość ruchu ściany spoczynkowej (sp?)</label>
									<div class="col-sm-4">
										<select class="custom-select">
											<option selected value="-1">Brak pomiaru</option>
											<option value="0">Brak</option>
											<option value="1">Łagodny lub umiarkowany</option>
											<option value="2">Umiarkowany lub ciężki</option>
											<option value="3">Akineza lub dyskmem</option>
											
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label for="inputexeref" class="col-sm-7 col-form-label">Ćwiczenie frakcja wyrzutowa radinalid (sp?)</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" id="inputexeref" placeholder="0">
									</div>

								</div>
								<div class="form-group row">
									<label for="inputexerwm" class="col-sm-7 col-form-label">Ruch ściany ruchowej (sp?)</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" id="inputexerwm" placeholder="0">
									</div>

								</div>

							</div>
						</div>

						<button  data-toggle="collapse" data-target="#adjust-learning" type="button" class="btn btn-primary btn-align">Dostosuj proces uczenia</button>
						<!--
							kluczowe feature lub sposob wyobu
							algorytm/y
							sposob obrabiania danych wejsciowych
							sposob oceniania predykji
							checboxy na finalne wykresy
						-->

						<div id="adjust-learning" class="collapse">
							<div class="card bg-light mb-3">
								<div class="card-header">Uczenie</div>
								<div class="card-body"> 
									<div class="form-group row">
										<label for="inputChestPain" class="col-sm-5 col-form-label">Algorytm </label>
										<div class="col-sm-4">
											<select class="custom-select">
												<option selected value="0">Wszytkie</option>
												<option value="1">Drzewa decyzyjne</option>
												<option value="2">SVM</option>
												<option value="3">KNN</option>	  
											</select>
										</div>
									</div>
									<div class="form-group row">
									<label for="inputChestPain" class="col-sm-5 col-form-label">Sposób budowy modelu</label>
									<div class="col-sm-4">
										<select class="custom-select">
											<option selected value="0">Wszytkie</option>
											<option value="1">Automatyczny</option>
											<option value="2">Specyficzny dla danego algorytmu</option>  
										</select>
									</div>
								</div>
<div class="form-group row">
								<label for="inputChestPain" class="col-sm-5 col-form-label">Dobór cech znaczących</label>
								<div class="col-sm-4">
									<select class="custom-select">
										<option selected value="0">Wszytkie</option>
										<option value="1">Automatyczny</option>
										<option value="2">Specyficzny dla danego algorytmu</option>  
									</select>
								</div>
							</div>

						</div>
						<div class="card-header">Rezultat</div>
						<div class="card-body"> 
							<div class="form-group row">
								<label for="inputChestPain" class="col-sm-5 col-form-label">Sposób testowania</label>
								<div class="col-sm-4">
									<select class="custom-select">
										<option selected value="0">Brak pomiaru</option>
										<option value="N">Normalny</option>
										<option value="FD">Wada stała</option>
										<option value="RD">Wada odwracalna</option>	  
									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-4" >Wykresy</div>
								<div class="col-sm-8"> 
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gridxhypo1" id="gridxhypo1" value="1">
										<label class="form-check-label" for="gridxhypo1">
											Poprawne/Niepoprawne
										</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gridxhypo2" id="gridxhypo2" value="0">
										<label class="form-check-label" for="gridxhypo2">
											Niepoprawne/Wszystkie
										</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gridxhypo3" id="gridxhypo3" value="-1">
										<label class="form-check-label" for="gridxhypo3">
											Poprawne/Wszytkie
										</label>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary">Dokonaj predykcji</button>

					</div>
				</div>

                <!-- brak pol
                           
                'dummy',  # ?udany/sztuczny   
                'restckm',  # irrelevant/nieistotny 
                'exerckm',  # irrelevant
                'thalsev',  # not used
                'thalpul',  # not used
                'earlobe',  # not used
                'cmo',  # month of cardiac cath (sp?) (perhaps "call")/miesiąc kardiologicznej cath (sp?) (być może „zadzwoń”)
                'cday',  # day of cardiac cath (sp?)
                'cyr',  # year of cardiac cath (sp?)
                'lmt',  #
                'ladprox',  #
                'laddist',  #
                'diag',  #
                'cxmain',  #
                'ramus',  #
                'om1',  #
                'om2',  #
                'rcaprox',  #
                'rcadist',  #
                'lvx1',  # not used
                'lvx2',  # not used
                'lvx3',  # not used
                'lvx4',  # not used
                'lvf',  # not used
                'cathef',  # not used
                'junk',  # not used

                ] -->


            </div>
        </form>
    </div>
</div>
</div>
</div>
<div class="padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h4>SEKCJA1</h4>
				<p>opis sekcja4..............................huyvgcdzbfszhzjxjyv
				guvyigiygighuguvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img src="/static/img3.png" class="img-responsive">
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h4>SEKCJA2</h4>
				<p>opis sekcja4..............................huyvgcdzbfszhzjxjyv
				guvyigiygighuguvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img src="/static/img4.png" class="img-responsive">
			</div>
		</div>
	</div>
</div>


<div id="fixed">
	
</div>

<div class="padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>OPIS</h4>
				<p> work in progress</p>
				<p>work still in progress</p>
			</div>
			<div class="col-sm-6">
				<img src="/static/img5.png">
			</div>
			
		</div>
	</div>
</div>

<footer class="container-fluid text-center">
	<div class="row">
		<div class="col-sm-4">
			<h3>kontakt</h3>
			<br>
			<h4>Dane kontaktowe</h4>	
		</div>
		<div class="col-sm-4">
			<h3>ZNAJDZ NA</h3>
			<a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-google"></a>
			<a href="#" class="fa fa-linkedin"></a>
			<a href="#" class="fa fa-youtube"></a>
		</div>
		<div class="col-sm-4">
			<img src="/static/image1.png" class="icon">
		</div>
	</div>
</footer>


</body>
</html>