{% extends 'base.html'%}

{% block head %}


<script type="text/javascript" src="{{ url_for('static', filename='js/form_11.js') }}"></script>

{% endblock %}

{% block content %}
<div class="padding" id="fill-in-form">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="lang" key="fill-in-form">Wypełnij formularz</h2>
                <form name="form" id="form" method="post" class="needs-validation" novalidate>
                    <div class="form-group row">
                        <label for="inputAge" class="col-sm-3 col-form-label lang " key="age">Wiek</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control " id="inputAge" placeholder="1" min="1" max="200"
                                   number="true">
                            <div class="invalid-feedback lang" key="field-validation">Wprowadź poprawną wartość.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputSex" class="col-sm-3 col-form-label lang" key="sex">Płeć</label>
                        <div class="col-sm-9">
                            <select class="custom-select" id="inputSex">
                                <option selected value="-1" class="lang" key="no-select">Brak</option>
                                <option value="1" class="lang" key="woman">Kobieta</option>
                                <option value="0" class="lang" key="man">Mężczyzna</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputChestPain" class="col-sm-3 col-form-label lang" key="input-chest-pain">Typ bólu
                            w klatce
                            piersiowej</label>
                        <div class="col-sm-9">
                            <select class="custom-select" id="inputChestPain">
                                <option selected value="-1" class="lang" key="no-select">Brak</option>
                                <option value="1" class="lang" key="chest-pain-1">Typowa dławica piersi</option>
                                <option value="2" class="lang" key="chest-pain-2">Atypowa dławica piersi</option>
                                <option value="3" class="lang" key="chest-pain-3">Ból bezdławicowy</option>
                                <option value="4" class="lang" key="chest-pain-4">Bezobjawowy</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputBloodPressure" class="col-sm-3 col-form-label lang" key="blood-pressure">Spoczynkowe
                            Ciśnienie
                            Krwi</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputBloodPressure" min="0" max="1000000000"
                                   digits="true"
                                   placeholder="0">
                            <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                            </div>
                        </div>
                        <label class="col-sm-2 col-form-label">mm Hg</label>
                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip"
                                data-placement="right" title="Nadciśnienie tętnicze to wartości ≥140/90 mmHg">
                            ?
                        </button>
                    </div>
                    <div class="form-group row">
                        <label for="inputBloodChol" class="col-sm-3 col-form-label lang" key="blood-chol">Cholesterol w
                            surowicy</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputBloodChol" placeholder="0" min="0"
                                   max="1000000000" digits="true">
                            <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid value.
                        </div>
                        <label class="col-sm-2 col-form-label">mg/dl</label>
                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip"
                                data-placement="right" title="Należy wykonać badanie lipidogramu, norma to poziom cholesterolu całkowitego mniej niż 190mg/dl (5 mmol/l) ">
                            ?
                        </button>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-3 pt-0 lang" key="sugar">Cukier we krwi na czczo
                            </legend>
                            <div class="col-sm-9">
                                <div class="form-check checbox-left">
                                    <input class="form-check-input" type="radio" name="gridRadiosSugar"
                                           value="1">
                                    <label class="form-check-label lang" key="sugar-1">
                                        Powyżej 120 mg/dl
                                    </label>
                                </div>
                                <div class="form-check checbox-left">
                                    <input class="form-check-input" type="radio" name="gridRadiosSugar"
                                           value="0">
                                    <label class="form-check-label lang" key="sugar-2">
                                        Poniżej bądź równe 120 mg/dl
                                    </label>
                                </div>
                                <div class="form-check checbox-left">
                                    <input class="form-check-input" type="radio" name="gridRadiosSugar"
                                           value="-1">
                                    <label class="form-check-label lang" key="no-value">
                                        Brak pomiaru
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-3 pt-0 lang" key="rest-ecg">Spoczynkowe wyniki
                                elektrokardiograficzne
                            </legend>
                            <div class="col-sm-9">
                                <div class="form-check checbox-left">
                                    <input class="form-check-input" type="radio"
                                           name="gridRadiosRestEcg"
                                           id="gridRadiosRestEcg1" value="0">
                                    <label class="form-check-label lang" for="gridRadiosRestEcg1" key="rest-ecg-1">
                                        Normalne
                                    </label>
                                </div>
                                <div class="form-check checbox-left">
                                    <input class="form-check-input" type="radio"
                                           name="gridRadiosRestEcg"
                                           id="gridRadiosRestEcg2" value="1">
                                    <label class="form-check-label lang" for="gridRadiosRestEcg2" key="rest-ecg-2">
                                        Z nieprawidłowościami fali ST-T (odwrócenie fali T i / lub
                                        podniesienie lub
                                        obniżenie ST> 0,05 mV)
                                    </label>
                                </div>
                                <div class="form-check checbox-left">
                                    <input class="form-check-input" type="radio"
                                           name="gridRadiosRestEcg"
                                           id="gridRadiosRestEcg3" value="2">
                                    <label class="form-check-label lang" for="gridRadiosRestEcg3" key="rest-ecg-3">
                                        Wykazujący prawdopodobny lub wyraźny przerost lewej komory serca
                                        według
                                        kryteriów Estesa
                                    </label>
                                </div>
                                <div class="form-check checbox-left">
                                    <input class="form-check-input" type="radio"
                                           name="gridRadiosRestEcg"
                                           id="gridRadiosRestEcg4" value="-1">
                                    <label class="form-check-label lang" for="gridRadiosRestEcg4" key="no-value">
                                        Brak pomiaru
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <label for="inputThall" class="col-sm-5 col-form-label lang" key="thall">Status serca pobrany z
                            testu
                            Thallium </label>
                        <div class="col-sm-4">
                            <select class="custom-select" id="inputThall" name="inputThall">
                                <option selected value="-1" class="lang" key="no-value">Brak pomiaru</option>
                                <option value="N" class="lang" key="rest-ecg-1">Normalny</option>
                                <option value="FD" class="lang" key="thall-3">Wada stała</option>
                                <option value="RD" class="lang" key="thall-4">Wada odwracalna</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputHeartRate" class="col-sm-3 col-form-label lang" key="heart-rate">Maksymalnie
                            osięgnięte tętno</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputHeartRate" min="0" max="1000000000"
                                   digits="true"
                                   name="inputHeartRate"
                                   placeholder="0">
                            <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 lang" key="induced-angina">Dławica piersiowa wywołana wysiłkiem fizycznym
                        </div>
                        <div class="col-sm-8">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="gridCheckInducedAngina"
                                       id="gridCheckInducedAngina2" value="1">
                                <label class="form-check-label lang" for="gridCheckInducedAngina2" key="yes">
                                    Tak
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="gridCheckInducedAngina"
                                       id="gridCheckInducedAngina3" value="0">
                                <label class="form-check-label lang" for="gridCheckInducedAngina3" key="no">
                                    Nie
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="gridCheckInducedAngina"
                                       id="gridCheckInducedAngina1" value="-1">
                                <label class="form-check-label lang" for="gridCheckInducedAngina1" key="no-value">
                                    Brak pomiaru
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-light mb-3">
                        <div class="card-header lang" key="st">Odcinek ST</div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-sm-4"
                                     title="Określenie fragmentu zapisu elektrokardiograficznego" key="st-1">
                                    Depresja wywołana ćwiczeniami w stosunku do odpoczynku
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                               name="gridCheckOldpeek"
                                               id="gridCheckOldpeek1" value="1">
                                        <label class="form-check-label" for="gridCheckOldpeek1" key="yes">
                                            Tak
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                               name="gridCheckOldpeek"
                                               id="gridCheckOldpeek2" value="0">
                                        <label class="form-check-label lang" for="gridCheckOldpeek2" key="no">
                                            Nie
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                               name="gridCheckOldpeek"
                                               id="gridCheckOldpeek3" value="-1">
                                        <label class="form-check-label lang" for="gridCheckOldpeek3" key="no-value">
                                            Brak pomiaru
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 lang"
                                     title="Określenie fragmentu zapisu elektrokardiograficznego" key="st-2">
                                    Nachylenie szczytu odcinka ST
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gridSlope"
                                               id="gridSlope1" value="1">
                                        <label class="form-check-label lang" for="gridSlope1" key="grow">
                                            Wznoszący
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gridSlope"
                                               id="gridSlope2" value="2">
                                        <label class="form-check-label lang" for="gridSlope2" key="flat">
                                            Płaski
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gridSlope"
                                               id="gridSlope3" value="3">
                                        <label class="form-check-label lang" for="gridSlope3" key="falling">
                                            Opadający
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gridSlope4"
                                               id="gridSlope4" value="-1">
                                        <label class="form-check-label lang" for="gridSlope4" key="no-value">
                                            Brak pomiaru
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFluo" class="col-sm-5 col-form-label lang" key="fluo">Liczba głównych naczyń
                            zabarwionych
                            metodą Fluoroskopii</label>
                        <div class="col-sm-4">
                            <select class="custom-select" id="inputFluo" name="inputFluo">
                                <option selected value="-1" class="lang" key="no-value">Brak pomiaru</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>

                    <button data-toggle="collapse" data-target="#extended-formula" type="button"
                            class="btn btn-primary btn-align lang" key="extended-formula">Rozszerzony formularz
                    </button>
                    </br>
                    <div id="extended-formula" class="collapse">
                        <div class="card bg-light mb-3">
                            <div class="card-header lang" key="chest-pain">Ból w klatce piersiowej</div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-sm-4 lang" key="chest-pain-loc">Lokalizacja bólu w klatce
                                        piersiowej
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridPainLoc"
                                                   id="gridpainloc1" value="1">
                                            <label class="form-check-label lang" for="gridpainloc1"
                                                   key="ches-pain-loc-1">
                                                Zastępczy
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridPainLoc"
                                                   id="gridpainloc2" value="0">
                                            <label class="form-check-label lang" for="gridpainloc2"
                                                   key="ches-pain-loc-2">
                                                Inny
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridPainLoc"
                                                   id="gridpainloc3" value="-1">
                                            <label class="form-check-label lang" for="gridpainloc3" key="no-value">
                                                Brak pomiaru
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4 lang" key="pain-exercise-caused">Ból spowodowany wysiłkiem
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridPainEx"
                                                   id="gridPainEx1" value="1">
                                            <label class="form-check-label lang" for="gridPainEx1" key="yes">
                                                Tak
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridPainEx"
                                                   id="gridPainEx2" value="0">
                                            <label class="form-check-label lang" for="gridPainEx2" key="no">
                                                Nie
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridPainEx"
                                                   id="gridPainEx3" value="-1">
                                            <label class="form-check-label lang" for="gridPainEx3" key="no-data">
                                                Brak danych
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4 lang" key="pain-rel-rest">Ból ustaje po odpoczynku</div>
                                    <div class="col-sm-8">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridPainRelRest"
                                                   id="gridPainRelRest1" value="1">
                                            <label class="form-check-label lang" for="gridPainRelRest1" key="yes">
                                                Tak
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridPainRelRest"
                                                   id="gridPainRelRest2" value="0">
                                            <label class="form-check-label lang" for="gridPainRelRest2" key="no">
                                                Nie
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridPainRelRest"
                                                   id="gridPainRelRest3" value="-1">
                                            <label class="form-check-label lang" for="gridPainRelRest3" key="no-data">
                                                Brak danych
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card bg-light mb-3">
                            <div class="card-header lang" key="smoke-addict">Nałóg Nikotynowy</div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="inputSmoke" class="col-sm-5 col-form-label lang"
                                           key="smoker">Palacz </label>
                                    <div class="col-sm-4">
                                        <select class="custom-select" id="inputSmoke" name="inputSmoke">
                                            <option selected value="-1" class="lang" key="no-data">Brak danych</option>
                                            <option value="1" class="lang" key="yes">Tak</option>
                                            <option value="0" class="lang" key="no">Nie</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputCigs" class="col-sm-5 col-form-label lang" key="cigs-per-day">Papierosów
                                        dziennie</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="inputCigs" name="inputCigs" min="0"
                                               max="1000000000" digits="true"
                                               placeholder="0">
                                        <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputCigsYears" class="col-sm-5 col-form-label lang" key="smoker-years">Liczba
                                        lat jako
                                        palacz</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="inputCigsYears" min="1"
                                               max="1000000000" digits="true"
                                               name="inputCigsYears" placeholder="0">
                                        <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4 lang" key="diab-hist">Historia cukrzycy</div>
                            <div class="col-sm-8">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gridDiab" id="gridDiab1"
                                           value="1">
                                    <label class="form-check-label lang" for="gridDiab1" key="yes">
                                        Tak
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gridDiab" id="gridDiab2"
                                           value="0">
                                    <label class="form-check-label lang" for="gridDiab2" key="no-diab-hist">
                                        Brak historii
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gridDiab" id="gridDiab3"
                                           value="-1">
                                    <label class="form-check-label lang" for="gridDiab3" key="no-data">
                                        Brak danych
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4 lang" key="family-diab">Wywiad rodzinny w kierunku choroby wieńcowej
                            </div>
                            <div class="col-sm-8">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gridFamDiab" id="gridFamDiab1"
                                           value="1">
                                    <label class="form-check-label lang" for="gridFamDiab1" key="yes">
                                        Tak
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gridFamDiab" id="gridFamDiab2"
                                           value="0">
                                    <label class="form-check-label lang" for="gridFamDiab2" key="no-diab-hist">
                                        Brak historii
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gridFamDiab" id="gridFamDiab3"
                                           value="-1">
                                    <label class="form-check-label lang" for="gridFamDiab3" key="no-data">
                                        Brak danych
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-light mb-4">
                            <div class="card-header lang" key="ekg">Badanie EKG</div>
                            <div class="card-body">

                                <div class="form-group row">
                                    <div class="col-sm-5" key="dig">Naparstnica stosowana podczas wysiłku EKG</div>
                                    <div class="col-sm-7">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridDig" id="griddig1"
                                                   value="1">
                                            <label class="form-check-label lang" for="griddig1" key="yes">
                                                Tak
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridDig" id="griddig0"
                                                   value="0">
                                            <label class="form-check-label lang" for="griddig0" key="no">
                                                Nie
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridDig" id="griddig2"
                                                   value="-1">
                                            <label class="form-check-label lang" for="griddig2" key="no-data">
                                                Brak danych
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5 lang" key="prop">Beta-bloker stosowany podczas EKG
                                        wysiłkowego
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridProp" id="gridprop1"
                                                   value="1">
                                            <label class="form-check-label lang" for="gridprop1" key="yes">
                                                Tak
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridProp" id="gridprop0"
                                                   value="0">
                                            <label class="form-check-label lang" for="gridprop0" key="no">
                                                Nie
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridProp" id="gridprop2"
                                                   value="-1">
                                            <label class="form-check-label lang" for="gridprop2" key="no-data">
                                                Brak danych
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5 lang" key="nitr">Azotany wykorzystywane podczas wysiłku EKG
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridNitr" id="gridnitr1"
                                                   value="1">
                                            <label class="form-check-label lang" for="gridnitr1" key="yes">
                                                Tak
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridNitr" id="gridnitr0"
                                                   value="0">
                                            <label class="form-check-label lang" for="gridnitr0" key="no">
                                                Nie
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridNitr" id="gridnitr2"
                                                   value="-1">
                                            <label class="form-check-label lang" for="gridnitr2" key="no-data">
                                                Brak danych
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5 lang" key="pro">Bloker kanału wapniowego stosowany podczas
                                        wysiłku EKG
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridPro" id="gridpro1"
                                                   value="1">
                                            <label class="form-check-label lang" for="gridpro1" key="yes">
                                                Tak
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridPro" id="gridpro0"
                                                   value="0">
                                            <label class="form-check-label lang" for="gridpro0" key="no">
                                                Nie
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridPro" id="gridpro2"
                                                   value="-1">
                                            <label class="form-check-label lang" for="gridpro2" key="no-data">
                                                Brak danych
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5 lang" key="diuretic">Lek moczopędny stosowany podczas EKG</div>
                                    <div class="col-sm-7">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridDiuretic"
                                                   id="griddiuretic1" value="1">
                                            <label class="form-check-label lang" for="griddiuretic1" key="yes">
                                                Tak
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridDiuretic"
                                                   id="griddiuretic0" value="0">
                                            <label class="form-check-label lang" for="griddiuretic0" key="no">
                                                Nie
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gridDiuretic"
                                                   id="griddiuretic2" value="-1">
                                            <label class="form-check-label lang" for="griddiuretic2" key="no-data">
                                                Brak danych
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputProto" class="col-sm-5 col-form-label lang"
                                           key="exercise-protocol">Protokół ćwiczeń</label>
                                    <div class="col-sm-4">
                                        <select class="custom-select" id="inputProto">
                                            <option selected value="-1" class="lang" key="no-value">Brak pomiaru
                                            </option>
                                            <option value="1">Bruce</option>
                                            <option value="2">Kottus</option>
                                            <option value="3">McHenry</option>
                                            <option value="4" class="lang" key="fast-blake">szybki Balke</option>
                                            <option value="5">Balke</option>
                                            <option value="6">Noughton</option>
                                            <option value="7"><span class="lang" key="bike">rower </span>150 kpa min /
                                                min
                                            </option>
                                            <option value="8"><span class="lang">rower </span> 125 kpa min / min
                                            </option>
                                            <option value="9"><span class="lang">rower </span>100 kpa min/min</option>
                                            <option value="10"><span class="lang">rower </span> 75 kpa min/min</option>
                                            <option value="11"><span class="lang">rower </span> 50 kpa min / min
                                            </option>
                                            <option value="12" class="lang" key="arm-ergometer">test wysiłkowy ramion
                                            </option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputThaldur" class="col-sm-5 col-form-label lang" key="thaldur">Czas
                                        trwania testu
                                        wysiłkowego </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="inputThaldur" placeholder="0"
                                               min="0" max="1000000000" digits="true">
                                        <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                                        </div>
                                    </div>
                                    <label for="inputThaldur" class="col-sm-2 col-form-label">min</label>
                                </div>
                                <div class="form-group row">
                                    <label for="inputThalTime" class="col-sm-5 col-form-label lang" key="thal-time">Czas
                                        w którym odnotowano
                                        depresję pomiaru ST </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="inputThalTime" placeholder="0"
                                               min="0" max="1000000000" digits="true">
                                        <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="inputMets" class="col-sm-5 col-form-label lang" key="mets">Osiągnięty
                                        dystans </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="inputMets" placeholder="0" min="0"
                                               max="1000000000" digits="true">
                                        <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                                        </div>
                                    </div>
                                    <label for="inputMets" class="col-sm-2 col-form-label">m</label>
                                </div>

                                <div class="form-group row">
                                    <label for="inputThalRest" class="col-sm-5 col-form-label lang" key="thal-rest">Tętno
                                        spoczynkowe</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="inputThalRest" placeholder="0"
                                               min="0" max="1000000000" digits="true">
                                        <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="inputTpeakBps" class="col-sm-7 col-form-label lang" key="t-peak-bps">Szczytowe
                                        ciśnienie
                                        tętnicze (pierwsza z 2 części)</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="inputTpeakBps" placeholder="0"
                                               min="0" max="1000000000" digits="true">
                                        <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="inputTpeakBpd" class="col-sm-7 col-form-label lang" key="t-peak-bpd">Szczytowe
                                        ciśnienie
                                        ćwiczeń (druga z 2 części)</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="inputTpeakBpd" placeholder="0"
                                               min="0" max="1000000000" digits="true">
                                        <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="inputTrestBpd" class="col-sm-7 col-form-label lang" key="t-rest-bpd">Spoczynkowe
                                        ciśnienie
                                        krwi</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="inputTrestBpd" placeholder="0"
                                               min="0" max="1000000000" digits="true">
                                        <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-7">Niedociśnienie wywołane wysiłkiem fizycznym</div>
                                <div class="col-sm-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gridXhypo" id="gridxhypo1"
                                               value="1">
                                        <label class="form-check-label lang" for="gridxhypo1" key="yes">
                                            Tak
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gridXhypo" id="gridxhypo2"
                                               value="0">
                                        <label class="form-check-label lang" for="gridxhypo2" key="no">
                                            Nie
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gridXhypo" id="gridxhypo3"
                                               value="-1">
                                        <label class="form-check-label lang" for="gridxhypo3" key="no-data">
                                            Brak danych
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputRldv5" class="col-sm-7 col-form-label lang" key="rldv">Wysokość w
                                    spoczynku</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="inputRldv5" placeholder="0" min="0"
                                           max="1000000000" digits="true">
                                    <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="inputRldv5e" class="col-sm-7 col-form-label lang" key="rldv5">Wysokość w
                                    szczycie
                                    ćwiczeń </label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="inputRldv5e" placeholder="0" min="0"
                                           max="1000000000" digits="true">
                                    <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="inputRestef" class="col-sm-7 col-form-label lang" key="rest-ef">Reszta
                                    frakcji wyrzutowej
                                    (raidonuclid) </label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="inputRestef" placeholder="0" min="0"
                                           max="1000000000" digits="true">
                                    <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                                    </div>
                                </div>
                                 <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip"
                                data-placement="right" title="Reszta frakcji to stosunek objętości wyrzutowej serca do objętości końcoworozkurczowej komory serca
">
                            ?
                        </button>
                            </div>

                            <div class="form-group row">
                                <label for="inputRestwm" class="col-sm-7 col-form-label lang" key="rest-wm">Nieprawidłowość
                                    ruchu ściany
                                    spoczynkowej </label>
                                <div class="col-sm-4">
                                    <select class="custom-select" id="inputRestwm">
                                        <option selected value="-1" class="lang" key="no-value">Brak pomiaru</option>
                                        <option value="0" class="lang" key="no-select">Brak</option>
                                        <option value="1" class="lang" key="mild">Łagodny lub umiarkowany</option>
                                        <option value="2" class="lang" key="severe">Umiarkowany lub ciężki</option>
                                        <option value="3" class="lang" key="akinez">Akineza lub dyskmem</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputExeref" class="col-sm-7 col-form-label lang" key="exe-ref">Frakcja wyrzutowa
                                    (radinalid) po ćwiczeniu</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="inputExeref" placeholder="0" min="0"
                                           max="1000000000" digits="true">
                                    <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputExerwm" class="col-sm-7 col-form-label lang" key="exer-wm">Ruch ściany
                                    ruchowej</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="inputExerwm" placeholder="0" min="0"
                                           max="1000000000" digits="true">
                                    <div class="invalid-feedback" key="field-validation">Wprowadź poprawną wartość.
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <a href=# id=process_form style="decoration:none;">
                                <button id="submitButton" name="submitButton"
                                        class="btn btn-outline-primary btn-lg btn-block lang" key="predict">Dokonaj
                                    predykcji
                                </button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="padding" id="positive-result" style="display:none;">
    <div class="jumbotron alert-success">
        <h1 class="display-3 lang" key="positive">Wynik pozytywny</h1>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%"
                 aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"></div>
        </div>
        <p class="lead lang" key="result-equals">Predykcja dla prowadzonych danych wynosi :<strong>
        <div id="result-positive-value"></div>
        </strong></p>
        <hr class="my-4">
        <p><span class="lang" key="result-classification-1">Wyniki sklasyfikowane jako </span><i> 1, 2, 3, 4 </i>
            <span class="lang" key="result-classification-2">oznaczają predykcję </span>
            <u><span class="lang" key="result-classification-3">o braku występowania</span></u>
            <span class="lang" key="result-classification-4"> chorób serca u pacjenta</span></p>
        <p class="lead">
            <a class="btn-warning  btn lang" href="#" role="button" onclick="window.location.reload();" key="back">Powrót</a>
        </p>
    </div>
</div>

<div class="padding" id="negative-result" style="display:none;">
    <div class="jumbotron alert-danger">
        <h1 class="display-3 lang" key="negative-result">Wynik negatywny</h1>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%"
                 aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"></div>
        </div>
        <p class="lead lang" key="result-equals">Predykcja dla prowadzonych danych wynosi :<strong>
        <div id="result-negative-value"></div>
        </strong></p>
        <hr class="my-4">
        <p><span class="lang" key="result-classification-1">Wyniki sklasyfikowane jako </span><i> 0 </i>
            <span class="lang" key="result-classification-2">oznaczają predykcję </span>
            <u><span class="lang" key="result-classification-5">o występowaniu</span></u>
            <span class="lang" key="result-classification-4">chorób serca u pacjenata</span></p>
        <p class="lead">
            <a class="btn-warning  btn lang" href="#" role="button" onclick="window.location.reload();" key="back">Powrót</a>
        </p>
    </div>
</div>


{% endblock content %}