{% extends 'base.html'%}

{% block head %}
{% endblock %}

{% block content %}

<div id="home">
    <div class="landing-text">
        <h1>Wykrywanie występowania chorób serca z</h1>
        <h3>wykorzystaniem uczenia maszynowego nadzorowanego</h3>
        <a href=form class="btn btn-info btn-lg non-blurred">Rozpocznij</a>
    </div>
</div>

<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-3 col-sm-6 col-xs-12">
                <img src="/static/img4.png" class="img-responsive">
                <img src="/static/img5.png" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h4><a href=form class="btn btn-info btn-lg non-blurred">Sprawdz statystyki</a></h4>
                <p> Dane statystyczne na temat danych testowych oraz uzyskanych wyników, zawierają rozłożenie danych dla:</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">cecha1</li>
                    <li class="list-group-item">cecha2</li>
                    <li class="list-group-item">cecha3</li>
                    <li class="list-group-item">cecha4</li>
                    <li class="list-group-item">cecha5</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="fixed">

</div>

<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>OPIS</h4>
                <p> work in progress</p>
                <p>work still in progress</p>
            </div>
            <div class="col-sm-6">
                <img src="/static/img5.png">
            </div>

        </div>
    </div>
</div>
{% endblock content %}